@import "../mixins.scss";
@import "../theme.scss";

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    @include box-shadow;
    background: var(--background-color);

    .wrapper {
        width: 100%;
        height: 50px;
        margin-inline: auto;
        padding-inline: 10px;
        @include flex($justify: space-between);
        position: relative;

        @import "./background-selector.scss";
        .background {
            height: 30px;
        }

        &:hover .background {
            opacity: 1;
        }

        nav {
            @include flex-center();
            img {
                filter: var(--image-color);
                height: 26px;
            }

            ul {
                @include flex-center($gap: 0px);
                list-style: none;
                padding-left: 0;
                li {
                    z-index: 10;

                    a {
                        padding-inline: 7px;
                        text-align: center;
                        width: 100%;
                        text-decoration: none;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media (min-width: 760px) {
    header .wrapper {
        width: 760px;
    }
}

@media (max-width: 480px) {
    header .wrapper nav ul li {
        &:nth-child(n + 2) {
            display: none;
        }
    }
}
