@import "../mixins.scss";

header {
    @include flex($justify: space-between);
    width: 100%;
    height: 55px;
    // padding-inline: 5px;
    border-radius: 10px;
    @include box-shadow;
    .wrapper {
        flex: 1;
        @include flex-center($gap: 0px);
    }

    p {
        padding-inline: 15px;
        cursor: pointer;
        z-index: 2;
        font-size: 17px;
        font-weight: bold;
        z-index: 3;
        &:hover {
            text-decoration: underline;
        }
    }
    .background {
        position: absolute;
        background: var(--selector-color);
        height: 40px;
        transition: all 0.2s ease-in-out, opacity 0.1s ease-in-out;
        border-radius: 5px;
        opacity: 0;
        z-index: 2;
    }

    &:hover .background {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    header {
        width: 95%;
    }
}
