---
import Header from "../../components/Header";
import LayoutMarkDown from "../../layouts/LayoutMarkDown.astro";
import LayoutWithHeader from "../../layouts/LayoutMarkDown.astro";
import { getFileName } from "../../utils/file";

export const getStaticPaths = async ({ paginate, rss }: any) => {
    const allPosts = await Astro.glob("../../content/*.md");
    const paths = allPosts.map((post) => {
        const slug = getFileName(post.file);
        return {
            params: {
                slug,
            },
            props: {
                post,
            },
        };
    });

    return paths;
};

const { post } = Astro.props;

console.log(post);
---

<LayoutMarkDown title={post.frontmatter?.title || "Untitled Page"}>
    <Header client:load />

    <h1>Hello</h1>
    <div class="markdown">
        <post.Content />
    </div>
</LayoutMarkDown>
