@import "../mixins.scss";

main {
    font-family: "Poppins", sans-serif;
    margin-inline: auto;
    width: 600px;
    @include flex-center(column);

    h1 {
        margin-top: $v-spacing;
        text-align: center;
        padding-block: 5px;
        font-size: 32px;
        font-weight: bold;
        background: $linear-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    article.avatar {
        @include box-shadow();
        width: 195px;
        height: 195px;
        background-color: transparent;
        border-radius: 50%;
        background-image: url("/images/avatar.jpeg");
        background-position: center;
        background-size: cover;
        margin-block: $v-spacing;
        animation: jumping 1.5s infinite;
    }

    p.description {
        width: 100%;
        padding-inline: 15px;
        font-size: 18px;
        margin-top: 20px;
    }

    img {
        margin-top: 15px;
        height: 35px;
        filter: var(--image-color-logo);
    }
}

@media (max-width: 600px) {
    main {
        width: 100%;
    }
}

@keyframes jumping {
    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}
