@import "../mixins.scss";

main {
    margin-inline: auto;
    width: 600px;
    @include flex-center(column);

    h1 {
        margin-top: $v-spacing;
        text-align: center;
        padding-block: 5px;
        font-size: 32px;
        font-weight: bold;
        background: $linear-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    article.avatar {
        @include box-shadow();
        width: 175px;
        height: 175px;
        background-color: transparent;
        border-radius: 50%;
        background-image: url("../../assets/buia.png");
        background-position: center;
        background-size: cover;
        margin-block: $v-spacing;
    }

    p.description {
        width: 100%;
        padding-inline: 15px;
        font-size: 18px;
    }

    img {
        margin-top: 25px;
        height: 35px;
        filter: var(--image-color);
    }
}

@media (max-width: 600px) {
    main {
        width: 100%;
    }
}
