@import "./theme.scss";

@mixin flex($align: center, $justify: center, $direction: row, $gap: 5px) {
    display: flex !important;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    gap: $gap;
}

@mixin flex-center($direction: row, $gap: 5px) {
    @include flex();
    gap: $gap;
    flex-direction: $direction;
}

@mixin box-shadow() {
    box-shadow: $shadow-elevation;
}

@mixin reset() {
    margin: 0;
    border: none;
    padding: 0;
    @include set-font();
}

@mixin set-font($font: "primary") {
    @if $font == "primary" {
        font-family: $primary-font;
    }
    @if $font == "secondary" {
        font-family: $secondary-font;
    }
}

@mixin gradient-text($gradient: $linear-gradient) {
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
