@import "./theme.scss";
@import "./mixins.scss";

:root {
    --background-color: var(--bg-dark-color);
    --font-color: var(--light-font-color);
    --image-color: var(--image-color);
    --image-color-logo: var(--image-dark-color-logo);
    --image-dark-color-logo: invert(1);
    --image-light-color-logo: invert(0);

    --selector-color: var(--selector-light-color);
    --selector-dark-color: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.205),
        rgba(255, 255, 255, 0.096)
    );
    --selector-light-color: linear-gradient(
        45deg,
        rgba(83, 83, 83, 0.089),
        rgba(83, 83, 83, 0.212)
    );
    --image-dark-color: invert(0);
    --image-light-color: invert(1);
    --bg-dark-color: #2f2f2f;
    --bg-light-color: #f7f7f7;
    --font-dark-color: rgb(230, 230, 230);
    --font-light-color: rgb(39, 39, 39);
}

* {
    box-sizing: border-box;
    color: var(--font-color);
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: $primary-font;
    background: var(--background-color);
    @include reset;
    padding-top: 45px;
    width: 100%;
    @include flex(center, start, column);
}
