:root {
    --background-color: #3e4444;
}

* {
    box-sizing: border-box;
    color: white;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background: var(--background-color);
}
