:root {
    --background-color: var(--dark-color);
    --dark-color: #4e4e4e;
    --light-color: #e0e0e0;
    --font-color: black;
}

* {
    box-sizing: border-box;
    color: var(--light-color);
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background: var(--background-color);
}
