$shadow-color: rgba(54, 54, 54, 0.911);
$shadow-elevation-low: 0px 0px 0.2px $shadow-color,
    0.2px 0.2px 0.3px -0.9px $shadow-color,
    0.5px 0.4px 0.8px -1.8px $shadow-color;
$shadow-elevation-medium: 0px 0px 0.2px $shadow-color,
    0.4px 0.4px 0.7px -0.6px $shadow-color, 1px 0.9px 1.7px -1.2px $shadow-color,
    2.3px 2.2px 3.9px -1.8px $shadow-color;
$shadow-elevation-high: 1px 1px 25px 0px $shadow-color;

$v-spacing: 20px;

$linear-gradient: linear-gradient(
    50deg,
    hsl(55deg 100% 50%) 0%,
    hsl(51deg 100% 50%) 0%,
    hsl(46deg 100% 50%) 2%,
    hsl(42deg 100% 50%) 9%,
    hsl(37deg 100% 50%) 26%,
    hsl(33deg 100% 50%) 71%,
    hsl(27deg 100% 50%) 90%,
    hsl(22deg 100% 50%) 97%,
    hsl(15deg 100% 50%) 100%,
    hsl(0deg 100% 50%) 100%
);
