---
import Layout from "../layouts/Layout.astro";
import "../styles/pages/index.scss";
import HomeNav from "../components/HomeNav";
import ThemeToggle from "../components/ThemeToggle";
import Divisor from "../components/Divisor.astro";
import SocialMediaBadges from "../components/SocialMediaBadges.astro";

const title = "My personal Blog!";
---

<Layout title={title}>
    <main>
        <h1>Hi! Thats my personal blog</h1>

        <article class="avatar"></article>

        <ThemeToggle client:load />
        <HomeNav client:load />

        <!-- <Divisor /> -->

        <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
        </p>
        <SocialMediaBadges names={true} />

        <!-- <img class="logo" src="assets/code-outline.svg" alt="🎶" /> -->
    </main>
</Layout>
