---
import SocialMediaBadges from "./SocialMediaBadges.astro";
import "../styles/components/footer.scss";
---

<footer>
    <SocialMediaBadges staticColors={true} />
    <div class="author">
        <p>Esse Site foi feito por Luis Felipe Vanin Martins</p>
        |
        <p>Última atualização: 28/09/22</p>
    </div>
    <ul>
        <li>email: luisfvaninmartins@gmail.com</li>
        |
        <li>tel: (84) 99117-5905</li>
    </ul>
</footer>
